{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parser": "babel-eslint"
}
